
*.lock
.vs/OverlappingInteractionSpots/v15/Server/sqlite3/storage.ide-wal
.vs/OverlappingInteractionSpots/v15/Server/sqlite3/storage.ide-shm
.vs/OverlappingInteractionSpots/v15/Server/sqlite3/storage.ide
