
*.lock
.vs/OverlappingInteractionSpots/v15/Server/sqlite3/storage.ide-wal
.vs/OverlappingInteractionSpots/v15/Server/sqlite3/storage.ide-shm
.vs/OverlappingInteractionSpots/v15/Server/sqlite3/storage.ide
Source/obj/Release/OverlappingInteractionSpots.dll
Source/obj/Release/OverlappingInteractionSpots.csproj.FileListAbsolute.txt
Source/obj/Release/OverlappingInteractionSpots.csproj.CoreCompileInputs.cache
Source/obj/Release/OverlappingInteractionSpots.csproj.AssemblyReference.cache
Source/obj/Release/DesignTimeResolveAssemblyReferencesInput.cache
Source/obj/Release/.NETFramework,Version=v4.7.2.AssemblyAttributes.cs
.vs/OverlappingInteractionSpots/v17/.suo
Source/obj/Release/DesignTimeResolveAssemblyReferences.cache
